{% extends "base.html" %}



{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Articles{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}


{% block splash %}

    <header class="intro-header" style="background-image: url('/static/site/img/Ban.jpg');font-family: 'Eras Bold ITC',serif; font-style: italic;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<div class="site-heading" style="color: #0c516c;">
                        <h1>TechNewz</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock splash %}

{% block container %}

<div class="container">

        <div class="row">
            <p>

            </p>
            <hr>
            <!-- Blog Entries Column -->
            <div class="col-md-8" style="border:2px inset">

                <h1 class="page-header">
                    Article
                    <small>Archive</small>
                </h1>

                <!-- First Blog Post -->
                {% for article in object_list %}
                <h2>
                    <a href={{ article.get_absolute_url }}>{{ article.name }}</a>
                </h2>
                <p class="lead">
                    by <a href="">
                    <img src="{% thumbnail article.author.profile.picture|default:'default_profile.png' 30x30 crop %}" alt="" />
                    {{article.author.get_full_name}}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ article.created_at }}</p>
                <hr>
                <img class="img-responsive" src={{ article.image.url }} alt="" height="200px">
                <hr>
                <p>{{ article.content|safe|truncatechars:600 }}</p>
                <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

          {% endfor %}
                <hr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4" style="font-style: oblique">

                <!-- Small bio Well -->
                <div class="well" style="border:2px inset grey">
                    <h4>About Us</h4>
                    <div class="input-group">
                        <h4>Writing about anything tech that pops into our minds.
                            Sharing bits of codes and other stuff  found to be interesting or useful.</h4>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well" style="border:2px inset grey">
                    <h4>Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                        <ul></ul>
                            {% for i in SIDEBAR_ARTICLES %}
                                <li><a href="#">{{ i.name }}</a></li>
                                </li>
                            {% endfor %}

                        </div>
                        <!-- /.col-lg-6 -->

                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- twitter Side Widget Well -->
                <div class="well" style="border:2px inset grey; overflow: auto; ">
                    <h4> <i class="fa fa-twitter fa-fw fa-3x"></i>Tweets</h4>
                    <a class="twitter-timeline" href="https://twitter.com/reinrich14">National Park Tweets - Curated tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}